<!Doctype>
<html ng-app="MyApp" ng-controller="MainCtrl">
	<head>
		<base href="/">
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
	</head>
	<body>
		<section>
			<h2>Hotlivestreams</h2>
			<div class="container">
				<div class="col-md-2">
					<div class="date" ng-repeat="(idx, d) in collections">
						<h3 ng-click="Select(idx)">{{idx}}</h3>
					</div>
				</div>
				<div class="col-md-3">
					<div>{{date}}</div>
					<ul ng-show="showList == idx">
						<li ng-repeat="c in filelist"><a ng-click="getCollection(c)" href="#">{{c}}</a></li>
					</ul>
				</div>
				<div class="col-md-7">
					<div class="row">
						<div class="col-xs-3">標題</div>
						<div class="col-xs-2">性別</div>
						<div class="col-xs-3">人</div>
						<div class="col-xs-3">讚數</div>
					</div>
					<table class="table table-striped">
						<tr ng-repeat="s in streams" style="padding-bottom:5px; padding-top:5px;">
							<td class="col-xs-3" ng-bind="s.caption?s.caption:'無題'"></td>
							<td class="col-xs-2" ng-bind="s.userInfo.gender"></td>
							<td class="col-xs-3">
								<a href="#" ng-click="getUser(s.userInfo.openID)" ng-bind="s.userInfo.openID"></a>
							</td>
							<td class="col-xs-3" ng-bind="s.liveViewerCount"></td>
						</tr>
					</table>
				</div>
			</div>		
		</section>

		<!-- user -->
		<section class="user" ng-show="showUser">
			<div>
				{{user.openID}}
			</div>
			<div>
				<img style="width: 150px;" src="http://cdn.17app.co/THUMBNAIL_{{user.picture}}" alt="">
			</div>
			<div ng-bind="user.name"></div>
			<div ng-bind="user.bio"></div>
			<div ng-bind="user.totalViewTime"></div>
			<div ng-bind="user.receivedLikeCount + '讚'"></div>
			<div ng-bind="user.followerCount + '追蹤'"></div>
			<div>
				<button class="btn btn-sm btn-default" ng-click="showUser = !showUser">關閉</button>
			</div>
		</section>
		
		

		<script src="/components/jquery/dist/jquery.min.js"></script>
		<script src="/components/lodash/lodash.min.js"></script>
		<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/components/angular/angular.min.js"></script>

		<script src="/js/app.js"></script>
	</body>
</html>