<!Doctype>
<html ng-app="MyApp" ng-controller="MainCtrl">
	<head>
		<base href="/">
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<h2>Hotlivestreams</h2>
		<ul>
			<li ng-repeat="c in collections"><a href="/hots/{{c}}">{{c}}</a></li>
		</ul>

		<script src="/components/jquery/dist/jquery.min.js"></script>
		<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/components/angular/angular.min.js"></script>

		<script src="/js/app.js"></script>
	</body>
</html>