<!Doctype>
<html ng-app="MyApp" ng-controller="MainCtrl">
	<head>
		<base href="/">
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
	</head>
	<body>
		<h2>Hotlivestreams</h2>
		<div class="container">
			<div class="col-md-2">
				<div ng-repeat="(idx, d) in collections">
					<h3 ng-click="Select(idx)">{{idx}}</h3>
				</div>
			</div>
			<div class="col-md-3">
				<div>{{date}}</div>
				<ul ng-show="showList == idx">
					<li ng-repeat="c in filelist"><a ng-click="getCollection(c)" href="#">{{c}}</a></li>
				</ul>
			</div>
			<div class="col-md-7">
				<pre ng-bind="current|json"></pre>
			</div>
		</div>	
		

		<script src="/components/jquery/dist/jquery.min.js"></script>
		<script src="/components/lodash/lodash.min.js"></script>
		<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/components/angular/angular.min.js"></script>

		<script src="/js/app.js"></script>
	</body>
</html>